body{
    --oss-color: #50b7f5;
    --oss-background: #e6ecf0;
}
.app{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
@media screen and (min-width: 200px) and (max-width: 500px) {
    .app{
       
        padding: 0 0px;
    }
}